@font-face {
    font-family: 'PPFormula-Medium';
    src: url(../assets/01.\ Fonts/PPFormula-Medium.otf);
}

@font-face {
    font-family: 'PPFormula-Light';
    src: url(../assets/01.\ Fonts/PPFormula-Light.otf);
}

@font-face {
    font-family: 'PPFormula-Medium';
    src: url(../assets/01.\ Fonts/PPFormula-Medium.otf);
}