@font-face {
    font-family: 'PPFormula-CondensedBlack';
    src: url(../assets/fonts/PPFormula-CondensedBlack.otf);
}

@font-face {
    font-family: 'PPFormula-Light';
    src: url(../assets/fonts/PPFormula-Light.otf);
}

@font-face {
    font-family: 'PPFormula-medium';
    src: url(../assets/fonts/PPFormula-Medium.otf);
}