/* || Small Screen */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-element {
    padding: 16px;
    font-size: 12px;
    list-style-type: none;
    text-decoration: none;

    & dd {
        margin-left: 0;
        line-height: 1.4rem;
    }
    & dt {
        font-weight: bold;
        margin-bottom: 1em;
        text-align: center;
    }
    & a { color: var(--text-color); }
}


/* || Medium Screen */
@media screen and (min-width: 420px) and (max-width: 1024px) {
    footer {
        flex-direction: row;
    }

    .footer-element {
        flex: auto;
        padding: 20px;
        max-width: 45ch;
        & dt {
            font-size: 1.2em;
            font-weight: bold;
            margin-bottom: 1em;
            text-align: left;
            }
        }  
}

/* || Large Screen */
@media screen and (min-width: 1025px) {
    footer {
        flex-direction: row;
    }

    .footer-element {
        flex: auto;
        padding: 15px;
        max-width: 75ch;
        font-size: 20px; 
    }
}