/* || Small Screen */
.bg-image{
  background-image: url("../assets/shapes/Caelor-Black-03-16x9.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

nav{
   display: flex; align-items: center; height: 80px; padding-top: 2em;
    & ul{ list-style-type: none; margin: auto; }
    & li{ margin-block: .5em; }
    & a{ text-decoration: none; text-transform: uppercase; color: var(--text-color); font-weight: 600; }
    & .logo { width: 100px; margin: .2em; }
}

header {
  display: flex; flex-direction: column; justify-content: center; align-items: center; height: 225px;
    & .wordmark{ height: 250px; width: 250px; } 
}

/* || text changing animation */
.slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider { height: 50px; overflow: hidden; }

.slider div {
  height: 50px;
  width: 60%;
  margin: auto;
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px;
  box-sizing: border-box;
  font-weight: bold;
  border-radius: 5px;
  color: var(--solar-orange);
  padding: 15px 15px;
}


/* || Medium Screen */
@media screen and (min-width: 450px) {
  .bg-image{ background-image: url("../assets/shapes/Caelor-Black-03-9x16.svg"); background-repeat: no-repeat; background-size: cover; }

  nav{ height: 120px; padding-top: 1.5em;  
   & ul{ display: flex; } 
   & a{ margin-inline-end: 2em; } 
   & .logo { width: 175px; margin: .5em; } 
  }

  header { height: 300px; 
   & .wordmark{ height: 400px; width: 400px; }
  } 

  .slider div { width: 50%; padding: 5px 15px; }
}

/* || Large Screen */
@media screen and (min-width: 1025px) { header{ height: 500px; } .slider div { width: 40%; } }

/* || vertical slider animation */
.slider-text-1 {
  animation: slide 5s linear infinite alternate 4s;
  -webkit-animation: slide 5s linear infinite alternate 4s; 
}


@keyframes slide {
  0% { margin-top: -300px; } 
  5% { margin-top: -200px; }33% { margin-top: -200px; }
  38% { margin-top: -100px; } 66% { margin-top: -100px; }
  71% { margin-top: 0px; } 100% { margin-top: 0px; }
}