/* || Small Screen */
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--bg-color);
  height: 80px;
  margin-top: .75em;
  & ul{
    list-style-type: none;
    margin: auto;
  }
  & li{
    margin-block: .5em;
  }
  & a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-color);
    font-weight: 600;
  }

  & .logo {
    width: 125px;
    margin: .2em;
  }
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  height: 200px;
}

/* || Medium Screen */
@media screen and (min-width: 450px) and (max-width: 1024px) {
  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-color);
    height: 120px;
    margin-top: .5em;
    & ul{
      display: flex;
      list-style-type: none;
      margin: auto;
    }
    & a{
      margin-inline-end: 2em;
      text-decoration: none;
      text-transform: uppercase;
      color: var(--text-color);
      font-weight: 600;
    }
  
    & .logo {
      width: 175px;
      margin: .5em;
    }
  }
  
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    height: 250px;
  }
}

/* || Animation */
.wave{
  background-color: var(--bg-color);
}

.entrance {
  -webkit-animation: entrance 1s cubic-bezier(.25, .46, .45, .94) both;
  animation: entrance 1s cubic-bezier(.25, .46, .45, .94) both
}

@keyframes entrance {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(-800px);
    transform: translateZ(-1400px) translateY(-800px);
    opacity: 0;
  }

  50% {
    -webkit-transform: translateZ(140px) translateY(80px);
    transform: translateZ(140px) translateY(80px);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}