@import url(header.css);
@import url(carousel.css);
@import url(hero.css);

@font-face {
    font-family: 'PPFormula-CondensedBlack';
    src: url(../assets/fonts/PPFormula-CondensedBlack.otf);
}

@font-face {
    font-family: 'PPFormula-Light';
    src: url(../assets/fonts/PPFormula-Light.otf);
}

@font-face {
    font-family: 'PPFormula-medium';
    src: url(../assets/fonts/PPFormula-Medium.otf);
}

:root{
    --bg-color:#282E30;
    --text-color:#FAFAFA;
    --primary-color:#FFD6E0;
    --secondary-color:#282e30;
    --error-color:#751500;
    --success-color:#006049;
    --solar-orange:#FF7300;
    --heading: 'PPFormula-Medium', sans-serif;
    --body-copy: 'PPFormula-Light', sans-serif;
}

body{
    margin: 0;
    scroll-behavior: smooth;
    background-color:var(--bg-color);
    color:var(--text-color);
    font-family: var(--body-copy);
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading);
    max-width: 55ch;
    text-align: center;
}

h1{
    font-size: 80px;
    color: var(--secondary-color);
}

h2{
    font-size: 40px;
    margin: .8em auto;
    color: rgba(0,175,255,1);
}

p{
    font-size: 30px;
    & strong{
        color: var(--solar-orange);
    }
}