@import url(header.css);
@import url(fonts.css); 
@import url(carousel.css);
@import url(hero.css);

:root{
    --bg-color:#282E30;
    --text-color:#FAFAFA;
    --primary-color:#FFBDDB;
    --secondary-color:#282e30;
    --error-color:#751500;
    --success-color:#006049;
    --solar-orange:#FF7300;
    --heading: 'PPFormula-Medium', sans-serif;
    --body-copy: 'PPFormula-Light', sans-serif;
}

body{
    margin: 0;
    scroll-behavior: smooth;
    background-color:var(--bg-color);
    color:var(--text-color);
    font-family: var(--body-copy);
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading);
    max-width: 55ch;
    text-align: center;
}

h1{
    font-size: 80px;
    background: linear-gradient(90deg, rgba(194,0,30,1) 0%, rgba(198,2,30,1) 35%, rgba(254,16,21,1) 100%);    
    background-size: 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    line-height: 1.2em;
    margin-top: .2em;
    margin-bottom: 0em;
}

h2{
    font-size: 40px;
    margin: .8em auto;
    background: linear-gradient(90deg, rgba(0,54,97,1) 0%, rgba(0,59,255,1) 35%, rgba(0,175,255,1) 100%);    
    color: transparent;
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    line-height: 1.2em;
}