@import url(header.css);
@import url(fonts.css); 
@import url(carousel.css);
@import url(hero.css);

:root{
    --bg-color:#282E30;
    --text-color:#FAFAFA;
    --primary-color:#FFBDDB;
    --secondary-color:#282e30;
    --error-color:#751500;
    --success-color:#006049;
    --solar-orange:#FF7300;
    --heading: 'PPFormula-Medium', sans-serif;
    --body-copy: 'PPFormula-Light', sans-serif;
}

body{
    margin: 0;
    scroll-behavior: smooth;
    background-color:var(--bg-color);
    color:var(--text-color);
    font-family: var(--body-copy);
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading);
    max-width: 55ch;
    text-align: center;
    padding: .2em;
}


